.tab4 {
	background: #a0a0a0;
	box-shadow: inset -6px 7px 4px rgba(115, 115, 115, 1.0);

}

body {
	height: 100vh;
	overflow: hidden;
}

.con {
	max-width: 1600px;
	display: flex;
	flex-direction: row;
	gap: 32px;
	margin: 80px auto;
}

.prdInfo {
	width: 60%;
}

.prdImg {
	width: 34%;
	max-height: 100%;
	text-align: center;
	display: block;
	overflow: hidden;

	background-image: url("../img/frame.png");
	background-repeat: no-repeat;
	background-size: 92%;
	background-position: center;
}


.scrollCon {
	overflow: scroll;
	height: 74vh;
	width: 100%;
	margin: 20px auto;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.scrollCon::-webkit-scrollbar {
	display: none;
}

.num {
	font-size: 36px;
	vertical-align: text-top;
	margin-top: -8px;
}
.title {
	display: flex;
	font-size: 56px;
	margin-top: 0px;
	margin-bottom: 60px;
	vertical-align: text-top;
}

.btn {
	width: 100px;
	margin-bottom: 16px;
}

.content {
	margin-bottom: 48px;
}
.content span {
	display: block;
	margin-bottom: 16px;
}


.prdImg .poster {
	position: relative;
	z-index: -100;
	width: 85%;
	margin-bottom: 20px;
	margin-top: 5px;
}

.prdImg .frame {
	position: absolute;
}




#tooltip-text {
  display: none;
  position: absolute;
  max-width: 200px;
  border: 1px solid;
  padding: 5px;
  font-size: 20px;
  color: #000;
  background: #d9d9d9;
}

.tooltip:hover #tooltip-text {
  display: inline-block;
}



#modalOpenButton, #modalCloseButton {
  cursor: pointer;
}

#modalContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

#modalContent {
  position: absolute;
  background-color: #b8b8b8;
  width: 650px;
  height: 270px;
  padding: 0px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.7), inset 2px 2px 2px rgba(255, 255, 255, 0.9);
}

#modalContainer.hidden {
  display: none;
}

.modalHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 6px;
	background: #002cba;
	box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 1);
}

.modalHeader p {
	margin: 0;
	color: #fff;
}

.modalHeader button {
	color: #9e9e9e;
	width: 21px;
	height: 21px;
	padding: 0;
	text-align: center;
}

.shopBtn {
	color: #ff0f00;
}

.modalCon {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding: 24px 16px;
}

.modalCon .imgCon {
	width: 15%;
}

.modalCon img {
	width: 100%;
}

.modalCon .inputCon {
	padding-left: 24px;
	width: 60%;
}

.inputCon span {
	display: inline-block;
	font-size: 15px;
	width: 60px;
}

.inputCon .under {
	text-decoration: underline;
	font-size: 15px;
    margin: 0;
    display: inline;
    font-weight: 300;
}

.inputCon .con1 {
	margin-bottom: 6px;
}

.inputCon p {
	margin: 0 0 32px 0;
	font-size: 15px;
	word-spacing: -1px;
}

.inputCon input {
	width: 200px;
	height: 22px;
	box-shadow: inset -2px -2px rgba(255, 255, 255, 1);
}

.modalCon .btnCon {
	text-align: right;
	width: 25%;
}

.btnCon button {
	width: 100px;
	margin-bottom: 6px;
	height: 24px;
	box-shadow: inset 2px 2px rgba(255, 255, 255, 0.7), 1px 1px rgba(0, 0, 0, 1);
}


@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink-effect 0.3s step-end infinite;

  /*
  animation-name: blink-effect;
  animation-duration: 1s;
  animation-iteration-count:infinite;
  animation-timing-function:step-end;
  */
}

video {
	z-index: -100;
	bottom: 0;
	width: 80%;
}